<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
    </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="" src="<%= recipe.image %>" height="150px" width="150px" >
                <div class="">
                    <h4><a><%=recipe.title%></a></h4>
                    <p><%= recipe.description %></p>
                    <p><%= recipe.ingredients %></p>
                    <p><%= recipe.method %></p>
                </div>
            </div>
        
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>